<h1><%=@band.name %></h1>
<h2><%=@band.genre.name %></h2>
<p><%=@band.description%></p>
<%= link_to "Back", bands_path%>
<div class="button-container">
  <%= button_to "Delete band", {action: "destroy", id: @band.id}, {method: :delete, class: "btn danger", data: {confirm: "Are you sure you want to delete this"}} %>
  <%# button_to works like link_to, and takes an argument %>
  <%= button_to "Edit band", {action: "edit", id: @band.id}, {method: :get, class: "btn warning"}%>
</div>

